<template id='share-note-note-template'>
  <div class='container'>
    <h2 class='header'>Note</h2>
    <textarea class='input'></textarea>
    <button class='deleteBtn'>Delete</button>
  </div>

  <style>
    .hidden { 
      visibility: none; 
      display: none; 
    }
    .container {
      z-index: 10000000;
      opacity: 0.6;
      position: absolute;
      width: 200px;
      background-color: yellow;
      cursor: pointer;
      padding: 0.5rem;
      box-shadow: 5px 5px 50px black;
    }

    .header {
      font-family: sans-serif;
      text-align: center;
      width: 100%;
      cursor: move;
      padding: 1rem;
      box-sizing: border-box;
    }
    .header:hover {
      background-color: #8a7a00;
      color: white;
    }

    .input {
      font-family: sans-serif;
      resize: none;
      width: 100%;
      height: 5rem;
      line-height: 1rem;
    }

    .dragging {
      opacity: 0.2;
      background-color: purple;
      transform: translate(20deg);
    }

    .deleteBtn {
      font-family: sans-serif;
      font-size: 0.75rem;
      padding: 0.15rem;
      background-color: #660505;
      color: #cccccc;
    }

    .deleteBtn:hover {
      font-family: sans-serif;
      font-size: 0.75rem;
      padding: 0.15rem;
      background-color: red;
      color: white;
    }
    </style>
</template>
